<div>
  <p>{{ isSkillsLoading$ | async }}</p>

  <div *ngFor="let skill of skills$ | async">
    <h3>{{ skill.name }}</h3>
    <p>{{ skill.id }}</p>
    <p>{{ skill.addDate }}</p>

    <div *ngFor="let category of skill.categories">
      <h5>{{ category.name }}</h5>
      <p>{{ category.id }}</p>
      <p>{{ category.isBaseCategory }}</p>
    </div>
  </div>

  <hr>

  <div *ngFor="let activity of activities$ | async">
    <p>{{activity.id}}</p>
    <p>{{activity.addDate}}</p>
    <p>{{activity.modifyDate}}</p>
    <p>{{activity.title}}</p>
    <p>{{activity.description}}</p>
    <p>{{activity.category}}</p>
    <p>{{activity.skill}}</p>
  </div>
</div>
