@import 'variables';

.skill-card {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.activity-card-container {
  margin-bottom:  $sm;

  :last-child {
    margin-bottom:  0;
  }
}

mat-card-header {
  border-bottom: 1px solid $neutral;
}
