<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input
      type="text"
      placeholder="username"
      formControlName="username"
      required
    />
  </label>

  <label>
    Password
    <input
      type="text"
      placeholder="username"
      formControlName="password"
      required
    />
  </label>

  <label>
    Email
    <input
      type="text"
      placeholder="username"
      formControlName="email"
      required
    />
  </label>

  <button type="submit" [disabled]="!registerForm.valid">Lemme in!</button>
</form>
