<div *ngIf="(isLoading$ | async) === false && (data$ | async) as data">
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <mat-form-field>
        <label>
          <input
            required
            matInput
            type="text"
            formControlName="title"
            [placeholder]="data.activity?.title"
            [value]="data.activity?.title"
          />
        </label>
        <mat-error *ngIf="title.invalid">Title error</mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <textarea
            matInput
            formControlName="description"
            [placeholder]="data.activity?.description"
            [value]="data.activity?.description"
          ></textarea>
        </label>
        <mat-error *ngIf="description.invalid">Description error</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          required
          [placeholder]="data.skills[(data.activity?.skill)]?.name"
          [value]="data.activity?.skill"
        >
          <mat-option
            *ngFor="let skill of data?.skills | keyvalue"
            [value]="skill.value.id"
          >
            {{ skill.value.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="skill.invalid">skill error</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          required
          [placeholder]="data.categories[(data.activity?.category)]?.name"
          [value]="data.activity?.category"
        >
          <mat-option
            *ngFor="let category of data?.categories | keyvalue"
            [value]="category.value.id"
          >
            {{ category.value.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.invalid">category error</mat-error>
      </mat-form-field>
    </div>

    <button type="submit" [disabled]="!activityForm.valid">Submit</button>
  </form>
</div>
